* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.gallery {
  margin-top: 24px;
  min-width: 1128px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  margin: 0;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basicLightbox__placeholder {
  width: 1128px;
  height: 640px;
}
